botocore==1.8.20
certifi==2018.4.16
cffi==1.11.5
docutils==0.14
jmespath==0.9.3
mkl-fft==1.0.0
mkl-random==1.0.1
numpy==1.14.2
olefile==0.45.1
Pillow==5.1.0
pyasn1==0.4.2
pycparser==2.18
rsa==3.4.2
s3transfer==0.1.12
six==1.11.0
torch==0.4.0
torchvision==0.2.1
